<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Dream Made Reality</ion-text>
        </ion-text>
    </ion-title>
    
  

<ion-content>
  
  
  
  <popmenu></popmenu>
</ion-content>
  